.Spinning {
  animation: Spin 8s linear infinite;
  color: white;
}

@keyframes Spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    /* -360deg to spin left */
  }
}

.SpinningVertically {
  animation: SpinVertically 8s linear infinite;
  color: white;
}

@keyframes SpinVertically {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(360deg);
  }
}

/* Animation property */
.Wiggling {
  animation: wiggle 2s linear infinite;
}

/* Keyframes */
@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}

.Floating {
  animation: float 10s linear infinite;
}


@keyframes float{
  50%{
    transform: translateY(60px);
  }
}