.Spinning {
  animation: Spin 8s linear infinite;
  color: white;
}

@keyframes Spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    /* -360deg to spin left */
  }
}

.SpinningVertically {
  animation: SpinVertically 8s linear infinite;
  color: white;
}

@keyframes SpinVertically {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(360deg);
  }
}
