.OutlineRainbow {
  color: black;
  margin-bottom: 50px;
  -webkit-text-stroke: #de3c78;
  -webkit-text-stroke-width: 3px;

  animation: OutLineRainbowEffect 2s ease-in-out infinite;
}

@keyframes OutLineRainbowEffect {
  0% {
    -webkit-text-stroke-color: Red;
  }
  14% {
    -webkit-text-stroke-color: orange;
  }
  28% {
    -webkit-text-stroke-color: yellow;
  }
  43% {
    -webkit-text-stroke-color: green;
  }
  57% {
    -webkit-text-stroke-color: blue;
  }
  72% {
    -webkit-text-stroke-color: indigo;
  }
  86% {
    -webkit-text-stroke-color: violet;
  }
  100% {
    -webkit-text-stroke-color: Red;
  }
}
