.ScreenScreamer {
  font-size: 100px;
  font-weight: bold;
  text-align: center;
  transform: perspective(10px) rotateX(0) rotateY(0);
  transition: transform 0.25s;
  color: white;
}

.ScreenScreamer:hover {
  transform: perspective(10px) rotateX(-90deg) rotateY(180deg);
}


